<div class="row mt-3">
    <div class="col-sm">
        <!--Spacing--> 
    </div>
    <div class="col-sm-6">
        <form action="orangeBookHome/orangeBookSearchResult" method="POST">
            <div class="form-group p-2">
                <label class="h5" for="searchword">Enter the card number to check for the usable revision. </label>
                <small><br> Note: some cards can be looked up by base number.  <br> EX: DS200DCFB
                </small>
                <input class="form-control my-3" autofocus type="text" name="searchWord" placeholder="Enter a search value" />
                <button class="btn btn-danger m-2" type="submit">Submit</button>
                <!-- <a type='button' class="btn btn-primary m-2" href="partLogin">Login for Parts Admin</a> -->
            </div>
        </form>
    </div>
    <div class="col-sm">
        <!--Spacing--> 
    </div>
</div>