
<div class="row mt-3">
    <div class="col-sm">
        <!--Spacing--> 
    </div>
    <div class="col-sm-6">
        <form action="partHome/partSearchResult" method="POST">
            <div class="form-group p-2">
                <label class="h5" for="searchword">Enter a Part Number or LV Number to search our stock </label>
                <small><br> You can enter a partial number. EX: 104x123
                </small>
                <br>
                <small><mark>You no Longer have to enter special characters such as 104x122aa__372 
                    <br>    
                    Example: 104X122AA372</mark>
                </small>
                <input class="form-control my-3" autofocus type="text" name="searchWord" placeholder="Enter a search value" />
                <button class="btn btn-danger m-2" type="submit">Submit</button>
            </div>
        </form>
        <button class="btn btn-warning mx-3" onclick="addPartEnable()">Enable Add Part</button>
        <a href="/partHome/partAdd"><button class="btn btn-secondary mx-3" disabled id="addPart">Add Part to DB</button></a> 
    </div>
    <div class="col-sm">
        <!--Spacing--> 
    </div>
</div>

<!-- script for admin -->
<script src="/static/scripts/admin.js"></script>  