<form>
    <div class="row justify-content-center">
        <div class="col-5 mb-3 border">
            <label for="shipTo" class="form-label">Ship To</label>
            <input type="text" class="form-control" id="shipTo" placeholder="Recipant">
        </div>
        <div class="col-5 mb-3 border">
            <label for="shipDate" class="form-label">Ship Date</label>
            <input type="text" class="form-control" id="shipDate" placeholder="Date">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 mb-3 border">
            <label for="shipNumber" class="form-label">Shipment Number</label>
            <input type="text" class="form-control" id="shipNumber" placeholder="Number">
        </div>
        <div class="col-5 mb-3 border">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Shipping Address">
        </div>
    </div>
</form>



    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

  

----------------------------------
Ship to
ship date
shipment# (auto)
address
--------------------------------
carrier
waybill(tracking)
weight
#of boxes
declared value
account
-------------------------------
contact
reference number

------------------------------
quantity
model number
serial number
description
------------------
memo (comments)
